html, body {
    min-height: 100vh;
}

body {
    background-color: var(--default-background-color);
    font-family: var(--default-font);
}


body.front-page {
    background-image: url(../images/layout/speaker.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #76665b;
}

.wrapper {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

.image-slider__button {
    color: var(--image-slider-button-color) !important;
}

.image-slider__label {
    color: var(--image-slider-label-color);
}
