body.front-page {
    background-image: url(../images/layout/speaker.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #7d5d49;
}